@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Redressed&display=swap');
body{
	margin: 0;
}


header{
	height: 400px;
	background-color: lightsalmon;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image:url(bild1.jpg) ;
	background-size: cover;
	background-position: center;

}

header h1 {
	padding: 30px;
	background-color: rgba(255,255,250,0.7);
	border-radius: 20px;

}

main {
	padding: 100px;
	background: linear-gradient(133deg, rgba(215,205,205,0.5130427170868348) 11%, rgba(3,2,2,0.8491771708683473) 49%, rgba(3,25,18,0.4374124649859944) 74%);
}

main p {
	color: white;
	column-count: 2;
	font-family: Redressed;
}

#info{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px;
	background-color: black;
	color: white;

}

#info h2{
	font-size: 45px;
}

footer {
	height: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image:url(bild2.jpg) ;
	background-size: cover;
	background-position: center;
	height: 600px;

}

footer p {
	padding: 30px;
	border-radius: 20px;
	background-color: rgba(255,255,250,0.7);
	font-family: Quicksands;
}