@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora:wght@500&family=Luxurious+Script&family=Mochiy+Pop+P+One&family=Roboto+Slab&family=Shalimar&display=swap');

h1 {
	font-family:Lora ;
	text-align: center;
	font-size: 50px;
}
   
h2{
	font-family: Dancing Script;
	text-align: right;
	font-size: 50px;
}

p{
 font-family: Mochiy Pop P One;
 text-align: justify;
 column-count: 3;
 line-height: 1.5;
 margin: 50px;
 color: white;

}

.signature {
	font-family: Dancing Script;
	font-size: 40px;

}

body {
	background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 49%, rgba(252,176,69,1) 100%);;
}