*{
	padding: 0;
	margin: 0;
}



footer {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,39,252,1) 1%, rgba(3,168,201,1) 87%);
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
padding: 80px;
color: white;
}

footer a{
	color: white;
}

footer div{
	margin: 8px;
	text-align: center;
}

footer a:hover{
	background-color: white;
	color: red;
}

@media(min-width: 768px) {

	footer{
		flex-direction: row;
	}
		

		footer div{
			text-align: left;
		}
		footer .a{
			width: 25%
		}
		footer .aa{
			width: 25%
		}
		footer .aaa{
			width: 50%
		}



}


