<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav>
			<h1>BR <span class="architects">Architects</span></h1>
			
	
	<ul>
		<li><a href="projects.html">Projects</a></li>
		<li><a href="shop.html">Shop</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
</nav>

<div>
	<img src="bild1.jpg">
	<img src="bild2.jpg">
	<img src="bild3.jpg">
	<img src="bild4.jpg">
	<img src="bild2.jpg">
	<img src="bild1.jpg">
	<img src="bild4.jpg">
	<img src="bild3.jpg">

</div>

<div class="summer">Summer House</div>
<div class="brick">Brick House</div>
<div class="revovated">Renovated</div>
<div class="barn">Barn House</div>
<div class="summer1">Summer House</div>
<div class="brick1">Brick House</div>
<div class="revovated1">Renovated</div>
<div class="barn1">Barn House</div>

</body>
</html>