body {
  background-color: white;
}

p {
  font-size: 30px;
  padding: 30px;
  text-align: center;
  background-color: darkblue;
  color: white;
}
img { width: 500px;
     float: left;



}

.black { 
  color: black;
  background-color: black;
  padding: 50px;

     
}
.red {
  color: red;
  background-color: red;
  padding: 50px;

}
.yellow {
  color: yellow;
  background-color: yellow;
  padding: 50px;

}
h1{
  text-align: center;
}