/*Die Padding-Werte werden zur angegeben Breite hinzugezählet.
Daher ergibt sich ein Wert von über 100%! nav, article und aside passen
daher nicht nebeneinander
Box-sizing: border-box... Grössenangaben umfassen das ganze Element 
(inkl. Margin, Padding, ...)*/
*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
	/*Wöprter, die über einen Container hinausragen, werden in der nächsten Zeile weiterergeführt.*/
	word-wrap: break-word;

  }

  /*Desing für Smartphones*/
  header, nav, article, aside {
	width: 100%; 
}

header{
	background-color: lightgrey;
	padding: 25px;

}

nav{
	background-color: red;
	padding: 25px;
	
}

article{
	background-color: lightblue;
	padding: 25px;
	
}


aside{
	background-color: orange;
	padding: 25px;
	
}

.container{
	width: 70%;
	margin: auto; /*richtet die Bereiche  mitte aus*/
}


/* Desing für Tablet*/
@media(min-width: 600px) {}
	

aside{
		width: 40%;
		float: left;
	}
	
	li{
		display: inline;
	}

	article{
		width: 60%;
		float:left;
	}

	 

.container{
	width: 100%;
	margin: auto; /*richtet die Bereiche mitte aus*/
}


/*Desing für Desktop:
Trennlinie für Smartphone/Tablet und Desktop:  768px*/
@media(min-width: 768px) {
	
	li{
		display: block;
	}

	nav,  aside	{
		width: 25%;
		float: left;
	}
	article{
		width: 50%;
		float:left;
	}

	.container{
	width: 70%;
	margin: auto; /*richtet die Bereiche  mitte aus*/
}


  }

